.form-wrapper
  = form_for @comment, url: {action: :create}, html: {class: '' } do |f|
    .form-group
      = f.label :content
      = f.text_field :content
    .form-group.text-center
      = f.button :submit, class: 'btn btn-success'
